:root{
    --black100:#111111;
    --black60:#999999;
    --black10: rgba(17, 17, 17, 0.10); 

    --bgwhite:#fff;
    --white100:#fafafa;
    --white200: #F5F5F5;
    --white90: #E7E7E7;

    --redbg:hsla(4, 74%, 50%, 0.05);
    --greenbg:hsla(107, 29%, 50%, 0.05);
}

body{
    background-color: var(--bgwhite);
    padding: 20px;
    overflow-x: hidden;
}

.hstack{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.heading{
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding-bottom: 20px;
}

.two-icons{
    display: flex;
    padding: 10px;
    align-items: flex-start;
    gap: 10px;
    background-color: var(--white200);
    border: none;
    border-radius: 16px;
    width: 78px;
    height: 44px;
    transition: 0.25s ease-in-out;
    cursor: pointer;
}

.two-icons:hover{
    box-shadow: 0px 4px 8px 0px rgba(0, 8, 8, 0.1);
    transition: 0.25s ease-in-out;
}

hr{
    border: 1px solid var(--white200);
    padding: 0;
    margin: 0;
}

main{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.book{
    background-color: var(--white200);
    border-radius: 16px;
    padding: 30px;
    display: flex;
    gap: 30px;
}

#manga-info{
    display: flex;
    flex-direction: column;
    gap: 0;
    width: 100%;
    max-width: 320px;
}


.book ul{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.book a{
    color: var(--black100);
    text-decoration: none;
    display: flex;
    padding: 16px;
    gap: 16px;
    align-items: center;
    align-self: stretch;
    background:var(--white100);
    border-radius: 16px;
    max-height: 76px;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px; /* 100% */
    letter-spacing: -1.76px;
    margin-bottom: 8px;
    cursor: pointer;

    transition: 0.25s ease-in-out;
}

.book a:hover{
    box-shadow: 0px 4px 8px 0px rgba(18, 18, 18, 0.10);
    transition: 0.25s ease-in-out;
}

.manga-number{
    font-weight: 400;
    color: var(--black60);
}

.textwhitem{
    display: inline-flex;
    padding: 8px 14px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: none;
    background: var(--white90);
    border-radius: 16px;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px; /* 116.667% */
    letter-spacing: -0.48px;
    transition: 0.25s;
    color: var(--black60);
}

.textwhitem:hover{
    background: var(--white200);
}


#manga-container {
    width: 100%;
}


.page-container {
    display: flex;
    justify-content: center;
    align-content: center;
}

.page-container img {
    width: auto;
    height: 90lvh;
    object-fit: contain;
    border-radius: 16px;
}

#transbutton{
    position: fixed;
    top: 30px;
    right: 30px;
    z-index: 100;
    background: none;
    display: none;
    width: 44px;
    height: 44px;
    border: none;
    cursor: pointer;
    border-radius: 16px;
    transition: 0.25s;
}

#transbutton:hover{
    background: var(--white200);
    transition: 0.25s;
}

#transbutton img{
    width: 24px;
    height: 24px;
}

.transpopup{
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 1;
    padding: 16px;
    display: none;
    flex-direction: column;
    gap: 4px;
    width: 100%;
    max-width: 390px;
    height: 90vh;
    border-radius: 16px;
    border: 2px solid var(--white-90, #E7E7E7);
    background: var(--bg-white, #FFF);
    box-shadow: 0px 8px 16px 0px rgba(18, 18, 18, 0.16);
}

.transpopup span{
    display: flex;
    flex-direction: row;
    gap: 8px;
    margin-top: 4px;
    margin-bottom: 16px;
    color: var(--black60);
}

.origtext, .transtext{
    display: flex;
    padding: 10px 16px;
    align-items: center;
    gap: 10px;
    align-self: stretch;
}

.origtext{
    background:var(--redbg);
    border-radius: 16px 16px 8px 8px;
}

.transtext{
    background:var(--greenbg);
    border-radius: 8px 8px 16px 16px;
}


.ghost{
    background:none;
    border: none;
    cursor: pointer;
    transition: 0.25s;

    min-width: 44px;
    min-height: 44px;
}

.ghost:hover{
    transition: 0.25s;
}

.arrows img{
    opacity: 0.1;
    transition: 0.25s;
}

.arrows:hover img{
    opacity: 1;
    transition: 0.25s;
}

#back-button{
    display: block;
    position: absolute; 
    top: 20px;
    left: 20px;   
    z-index: 100;
}

#prev-button, #next-button{
    top: 0;
    position: absolute;
    width: 40vw;
    height: 100vh;

}


#next-button{
    right: 0;
}

#prev-button{
    left: 0;
}

@media (max-width: 740px){
    .book{
        flex-direction: column;
        align-items: center;
    }

    #manga-info{
        max-width: 100%;
    }
}





