a{
    color: var(--prime100) !important;
}

.book{
    display: flex;
    flex-direction: row;
    gap: 30px;

}

.book span{
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 604px;
}

.book ul{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.book li{
    display: flex;
    flex-direction: column;
    gap: 2px;
}

#cover{
    width: 100%;

    max-width: 393px;
    height: 520px;

    object-fit: cover;
    border-radius: 10px;
}

.episodes{
    background-color: var(--prime-invert100);
    border-radius: 20px;

    display: flex;
    max-width: 1240px;
    padding: 15px 0px;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    padding: 10px;
    overflow: hidden;

    box-sizing: border-box;

    
}

.episodes a{
    
    display: inline-flex;
    height: 60px;
    padding: 0px 10px;
    align-items: center;
    gap: 20px;
    flex-shrink: 0;
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;
    border-bottom: 1px solid var(--prime-invert-400);
    transition: 0.25s ease-in-out;
}

.episodes li{
    width: 100%;
}

.episodes a:hover{
    background:var(--prime-invert200);
    border-radius: 5px;
    transition: 0.25s ease-in-out;
}

@media (max-width: 1240px){
    .book{
        flex-direction: column;
        padding-left: 16px;
        padding-right: 16px;
    }

    #cover{
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    
}


