footer{
    
    position: absolute;
    left: 50%;
    transform: translate(-50%);

    width: 100%;
    max-width: 1240px;

    display: flex;

    align-items: flex-start;
    justify-content: space-around;
    box-sizing: border-box;

    padding: 20px;
}

