header{
    background: none;

    top: 0;
    position: absolute;
    left: 50%;
    transform: translate(-50%);

    width: 100%;
    max-width: 1240px;
    height: 60px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    box-sizing: border-box;
    overflow: hidden
}


.logo{
    width: auto;
    height: 20px;
}

.light a{
    color: var(--prime-invert100);
}

.dark a{
    color: var(--prime100);
}

#menu{
    display: none;
    cursor: pointer;
}


@media (max-width: 1250px){
    header{
        padding-left: 16px;
        padding-right: 16px;
    }
}

@media (max-width: 744px){
    header span{
        display: none;
    }

    #menu{
        display: block;
    }   
}

.dark img{
    
}

